<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PetApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <%= link_to "Home", { action: "index", controller: "home" }, class: "nav-item nav-link #{x == "home" ? "active" : ""}" %> 
    <%= link_to "Pets", { action: "index", controller: "animals" }, class: "nav-item nav-link #{x == "animals" ? "active" : ""}" %> 
    <%= link_to "Shelters", { action: "index", controller: "shelters" }, class: "nav-item nav-link #{x == "shelters" ? "active" : ""}" %> 
      
    </div>
  </div>
</nav>